\documentclass[varwidth]{standalone}
\usepackage[varg]{txfonts}
\usepackage{graphicx}
\newcommand{\includelc}[1]{\includegraphics[trim=0cm 0cm 0cm 0cm, clip=true]{ArtLC_#1_fix.pdf}}
\begin{document}

{% for row in lightcurve_nos|batch(4, '') %}
\resizebox{\linewidth}{!}{
  {%- for lc in row -%}
    {%- if lc != '' -%}
      \includelc{{ "{%02d}"|format(lc) }}
    {%- endif -%}
  {%- endfor -%}
}
{% endfor %}

\end{document}